body {
    background-color: #ffe6f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 320px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
    color: #ff4d94;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ffb3cc;
    border-radius: 5px;
}
body {
    background-image: url("img.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 8px;
    background-color: #ff80aa;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4d94;
}
.container-large {
    width: 800px;
    margin: 60px auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.module-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #fff0f5;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background: #ffd6e7;
}

.card img {
    width: 70px;
    margin-bottom: 10px;
}

.logout-btn {
    margin-top: 20px;
}
#analysisOutput {
    background: #fff7fb;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

